# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# 
app/run/
app/build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db